.rating-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: end;
}
