.post-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.content-preview {
  margin-top: 10px;
}

.user-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
}
